<div *ngIf="recipe">
 Titel: <input type="text" [(ngModel)]="recipe.title" >
<br>
  <br>
  Description: <input type="text" [(ngModel)]="recipe.description" >

 <p *ngFor="let ingredient of recipe.ingredients; let i = index">
  Amount: <input type="text" [(ngModel)]="ingredient.amount">
   Unit: <input type="text" [(ngModel)]="ingredient.unit">
   Name: <input type="text" [(ngModel)]="ingredient.name">
   <button id="delete-ingredient" (click)="recipe.ingredients.splice(i,1)">X</button>
 </p>

  Preparation: <input type="text" [(ngModel)]="recipe.preparation">
<br>
  <br>
  <button (click)="changeRecipe()">Submit</button>
</div>
