.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  display: block;
  margin-bottom: .2rem;
}
input{
  margin-bottom: 1rem;
}
.ingredients{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ingredients input{
  margin-right: 1rem;
}
button{
  display: block;
}
#delete-ingredient{
  display: inline;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  color: red;
  -webkit-text-stroke: .3px #000;
  font-size: 1.2rem;
  align-self: start;
}
#unit{
  margin: 0;
  align-self: baseline;
  font-weight: bold;
}
