.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  display: block;
  margin-bottom: .2rem;
}
input{
  margin-bottom: 1rem;
}
button{
  display: block;
}
