
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="color">
  <div class="container-fluid">
    <div class="logo">
      <img src="assets/logo.svg" alt="CookNCalc Logo" >
    </div>
    <div class="cook-n-calc">
      <a class="navbar-brand ms-2" routerLink="/" (click)="isShown = !isShown"><img src="assets/CookNCalc.svg" alt="Brand name"></a>
    </div>
    <button (click)="isShown = !isShown" id="navBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isShown }">
      <ul class="navbar-nav right-nav align-items-center">
        <li class="nav-item">
          <a class="nav-item nav-link" aria-current="page" routerLink="/" (click)="isShown = !isShown">Alle Rezepte</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isAuthenticated" class="nav-item nav-link" routerLink="/myRecipes" (click)="isShown = !isShown">Meine Rezepte</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.isAuthenticated" class="nav-item nav-link" routerLink="/register" (click)="isShown = !isShown">Registrieren</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.isAuthenticated" class="nav-item nav-link" routerLink="/login" (click)="isShown = !isShown">Anmelden</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isAuthenticated" class="nav-item nav-link" (click)="authService.logout()" routerLink="/" (click)="isShown = !isShown">Abmelden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="d-flex justify-content-center wrapper">
  <div class="p-2 middlebar">
    <router-outlet></router-outlet>
  </div>
</div>
