.button{
  background-color: #5C8D89;
  color: black;
}

.gradient-component{
  background: -webkit-linear-gradient(to right, #F4F9F4, #A7D7C5,#74B49B, #5C8D89 );

  background: linear-gradient(to right, #F4F9F4, #A7D7C5,#74B49B, #5C8D89);
}

.firstcolumn{
  background-color: #F4F9F4;
}
