<div class="text-center p-3">
  <h3 class="m-3">Einkaufspreis</h3>
  <p>Preis wenn alle Zutaten in vollständigen Verpackungseinheiten im Supermarkt gekauft werden</p>
  <!-- Button trigger modal -->
  <div *ngFor="let calc of totalPriceForRecipe" class="d-inline-block">
    <button type="button" (click)="ingredientPriceDetail(calc.supermarket)" class="d-inline-block ps-2 pe-2 m-3 fs-5 prices button" data-bs-toggle="modal"
            data-bs-target="#ingredientPriceDetail">
      {{ calc.supermarket }}: <strong> {{ calc.totalPrice }} €</strong>
    </button>
  </div>
</div>

<div class="text-center p-3">
  <h3 class="m-3">Zutatenpreis</h3>
  <p>Exakter Gesamtpreis der benutzten Zutaten</p>
  <span class="d-inline-block ps-2 pe-2 m-3 fs-5 prices" *ngFor="let calc of pricePerUnit">
  <span>{{ calc.supermarket }}: <strong> {{ calc.totalPrice }} €</strong></span>
</span>
</div>



<!-- Modal -->
<div class="modal fade" id="ingredientPriceDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title m-3" id="exampleModalLabel" >Zutatenpreise von Markt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-3" *ngIf="test">
          <div *ngFor="let calc of ingredientPricePerMarket">
            <ul class="list-group list-group-flush list">
              <li class="list-group-item"> {{calc.vpeNeed}} x {{ calc.ingredient }} für <strong> {{ calc.totalPrice }} €</strong></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



