.recipe h2{
  font-size: 1.2rem;
}
.recipe h4{
  font-size: 1rem;
}
h2{
  color: #274341;
}

.fst-italic {
  color: #5C8D89;
}

.amount {
  width: 50px;
}

.unit {
  width: 100px;
}

.name {
  width: 150px;
}

.ingredients {
  width: 85vw;
}

.ingredients:nth-child(odd) {
  background-color: #F4F9F4;
}

.recipe-preparation{
  width: 85vw;
}
.recipe-preparation p{
  text-align: justify;
}

.calculation {
  border-radius: 5px;
  background-color: #74B49B;
}

.link {
  color: #1B1A17;
  padding: .625rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .1rem #1B1A17;
  background-color: #A7D7C5;
}
