<div *ngIf="recipe">
  <div class="text-center m-3 recipe">
    <h2 class="fw-bold">{{recipe.title}}</h2>
    <h4 class="fst-italic"> - {{recipe.description}} - </h4>
  </div>

  <div class="d-flex flex-column align-items-center m-5">
    <div class="ingredients text-center border border-light" *ngFor="let ingredient of recipe.ingredients">
      <span class="d-inline-block p-1 text-end amount">{{ingredient.amount}}</span>
      <span class="d-inline-block p-1 text-start unit">{{ingredient.unit}}</span>
      <span class="d-inline-block p-1 text-start name">{{ingredient.name}}</span>
    </div>
  </div>

  <div class="recipe-preparation">
    <p>{{recipe.preparation}}</p>
    <a class="link m-3" *ngIf="authService.isAuthenticated" routerLink="./edit">Bearbeiten</a>
    <app-recipe-delete class="link m-3 bg-danger" *ngIf="authService.isAuthenticated"></app-recipe-delete>
    <a class="link m-3" routerLink="/recipes">Zurück zur Rezeptübersicht</a>
  </div>

</div>

<div class="d-flex flex-column align-items-center m-5 calculation">
  <app-price-calculation *ngIf="authService.isAuthenticated"></app-price-calculation>
</div>
