<div *ngIf="recipe">
  <p>{{recipe.title}}</p>
  <p>{{recipe.description}}</p>
  <p *ngFor="let ingredient of recipe.ingredients">
    {{ingredient.amount}}
    {{ingredient.unit}}
    {{ingredient.name}}
  </p>
  <p>{{recipe.preparation}}</p>
  <div *ngIf="user">
    <p>{{user.id}}</p>
    <p>{{recipe.user.id}}</p>
    <a *ngIf="(user.id === recipe.user.id)" routerLink="./edit">Edit</a>
  </div>
  <app-recipe-delete *ngIf="authService.isAuthenticated"></app-recipe-delete>
  <br>
  <a routerLink="/recipes">back to recipes</a>
</div>
<app-price-calculation *ngIf="authService.isAuthenticated"></app-price-calculation>


